
body{
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 5px;
    text-align: right;
    background: #1abc9c;
    color: white;
    height: 20px;
    font-size: small;

    
}

.nav {
    background-color: grey;
    color: black;
    padding: 3px;
    margin: 1px;
    border: 2px solid black;
    text-decoration: none;
    margin: 5px;
}

.nav:hover {
    background-color: black;
    color: white;
}

img {
    display: inline-block;
    width: 40px;
    height: 50px;
    top: 10px;
    /* Make logo circular */
    border-radius: 50%;
}

.btn1 {
    border: 1px solid #efefef;
    background: #efefef;
    border-radius: 10px;
    margin-left: 0.8em;
    padding: 0.1em 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
#maincard{
    display: flex;
    margin-left: 222px;
    height: 60vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    margin: auto;
    height: 300px;
    display: inline-block;
    margin: 45px;
   
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container{
    display: inline;
    text-decoration: none;
}

.cardlink{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

.cardlink:hover{
    color: red;

}

.footer{
    height: 31vh;
    background-color: black;
    color: white;
}
.left h1{
    font-size: 20px;
    text-align: center;

}